<%= form_tag(controller: "admission_forms", action: "populate", method: "post") do %>
<div class="field"></div>
  <div class="field">
  </div>
  <div class="field">
    <%= label_tag :first_name, "First name" %><br />
    <%= text_field_tag :first_name, current_user.first_name %>
  </div>
  <div class="field">
    <%= label_tag :last_name, "Last name" %><br />
    <%= text_field_tag :last_name, current_user.last_name %>
  </div>

  <h3> Admission info </h3>
  <%= fields_for :admission do |a| %>
    <div class="field">
      <%= a.label :field, "Field" %><br />
      <%= a.text_field :field %>
    </div>
    <div class="field">
      <%= a.label :specialization, "Specialization" %><br />
      <%= a.text_field :specialization %>
    </div>  
    <div class="field">
      <%= a.label :payment_type, "Payment type" %><br />
      <%= a.text_field :payment_type %>
    </div>   
  <% end %>
  <h3> Parent info </h3>
  <div class="field">
    <%= label_tag :father_name, "Father name" %><br />
    <%= text_field_tag :father_name, Student.find_by_user_id(current_user.id).father_name %>
  </div>
  <div class="field">
    <%= label_tag :mother_name, "Mother name" %><br />
    <%= text_field_tag :mother_name, Student.find_by_user_id(current_user.id).mother_name %>
  </div>

  <h3> Identification </h3>
  <div class="field">
    <%= label_tag :email,"Email" %><br />
    <%= email_field_tag :email, User.find(current_user.id).email%>
  </div>
  <div class="field">
    <%= label_tag :cnp, "CNP" %><br />
    <%= text_field_tag :cnp,  Contact.find_by_user_id(current_user.id).cnp%>
  </div>
  <div class="field">
    <%= label_tag :type, "Type" %><br />
    <%= text_field_tag (:id_type), Contact.find_by_user_id(current_user.id).id_type %>
  </div> 
  <div class="field">
    <%= label_tag :serie, "Series of ID card" %><br />
    <%= text_field_tag (:serie), Contact.find_by_user_id(current_user.id).serie%>
  </div>
  <div class="field">
    <%= label_tag :number, "Number of ID card" %><br />
    <%= text_field_tag (:number), Contact.find_by_user_id(current_user.id).number%>
  </div>

  <h3> Location info </h3>
  <div class="field">
    <%= label_tag :country, "Country" %><br />
    <%= text_field_tag (:country), Contact.find_by_user_id(current_user.id).country %>
  </div> 
  <div class="field">
    <%= label_tag :region, "Region" %><br />
    <%= text_field_tag (:region), Contact.find_by_user_id(current_user.id).region %>
  </div> 
  <div class="field">
    <%= label_tag :ethnicity, "Ethnicity" %><br />
    <%= text_field_tag (:ethnicity), Contact.find_by_user_id(current_user.id).ethnicity %>
  </div> 
  <div class="field">
    <%= label_tag :citizenship, "Citizenship" %><br />
    <%= text_field_tag (:citizenship), Contact.find_by_user_id(current_user.id).citizenship %>
  </div> 
  <div class="field">
    <%= label_tag :address, "Address" %><br />
    <%= text_field_tag (:address), Contact.find_by_user_id(current_user.id).address %>
  </div> 
  <div class="field">
    <%= label_tag :telephone, "Telephone" %><br />
    <%= text_field_tag (:telephone), Contact.find_by_user_id(current_user.id).telephone %>
  </div> 
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
<% end %>
